*~
*.bak

# phpize-generated build artifacts (ext/)
ext/autom4te.cache/
ext/build/
ext/modules/
ext/.libs/
ext/*.lo
ext/*.la
ext/*.o
ext/*.dep
ext/config.h
ext/config.h.in
ext/config.log
ext/config.status
ext/config.nice
ext/configure
ext/configure.ac
ext/Makefile
ext/Makefile.fragments
ext/Makefile.global
ext/Makefile.objects
ext/libtool
ext/mkinstalldirs
ext/run-tests.php
ext/acinclude.m4
ext/aclocal.m4
ext/install-sh
ext/missing
ext/ltmain.sh
ext/tmp-php.ini
ext/php_test_results_*.txt
ext/tests/*.log
ext/tests/*.diff
ext/tests/*.out
ext/tests/*.exp
